#header{
    width: 90%;
    height: 10%;
    background-color: rgb(143, 228, 231);
    opacity: 1;
    text-align: center;
    border: 2px solid yellow;
    margin-left: 5%;
    border-radius: 10px;
}

#exchangeForm{
    width: 90%;
    height: 80%;
    background-color: #e2cefc;
    border: 2px solid yellow;
    margin-top: 1%;
    margin-bottom: 10px;
    margin-left: 5%;
}

#submitBtn{
    width: 30%;
    height: 80%;
    background-color: #ffffff;
    border: 2px solid yellow;
    margin-top: 1%;
    margin-bottom: 10px;
    margin-left: 35%;
}

#footer{
    width: 90%;
    height: 10%;
    background-color: rgb(255, 232, 103);
    border: 2px solid yellow;
    margin-left: 5%;
}

#footer p {
    font-weight: normal;
    font-size: 80%;
    padding-left: 2%;
}

#exchangeForm p {
    font-weight: bold;
    color:blueviolet;
    font-size: 150%;
    padding-left: 2%;
}

#exchangeForm h1 {
    text-align: center;
    font-size: x-large;
}

#send {
    float: left;
    width: 50%;
    border: 0px solid #e2cefc;
    margin-left: 2%;
    text-align: center;
}

#recive {
    margin-left: 50%;
    border: 0.1px solid #e2cefc;
    text-align: center;
}
